---
import Header from "../components/header.astro";

import "../styles/colors.scss";
import "../styles/typograpy.scss";
import "reset-css";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" href="/favicon.ico">
    <title>casher</title>
  </head>
  <body>
    <Header />
    <slot />
  </body>
</html>

<style lang="scss">
  body {
    min-height: 100vh;
  }
</style>
